<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="3;url=http://zenjoy.com/">
    <title>index</title>
</head>

<body>
    <br>
    <div style="height: 60px"></div>
    <strong><p align="center" style="font-size:20px;">欢迎来到zenjoy!!!
            <script>setInterval("timenow.innerHTML=new Date().toLocaleString()+' 星期'+'日一二三四五六'.charAt(new Date().getDay());",1000);
            </script>
            <div id="timenow" align="center" style="font-size:20px;"></div>
    </p></strong>
    <br/>

    <div style="text-align:center;">
        <img src="{{ url_for('static',filename='user/images/welcome.jpg')}}" style="display: inline-block;"/>
    </div>


</body>

</html>