<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        Admin Login page
    </title>
</head>

<body>
    <br>
    <div style="height: 60px"></div>
    <strong>
        <p align="center" style="font-size:20px;">欢迎来到zenjoy!!!
            <script>setInterval("timenow.innerHTML=new Date().toLocaleString()+' 星期'+'日一二三四五六'.charAt(new Date().getDay());", 10);
            </script>
            <div id="timenow" align="center" style="font-size:20px;"></div>
        </p>
    </strong>
    <br/>
    <table border="0px" align="center" cellspacing="0" cellpadding="6">
        <tr>
            <td>
                <form style="text-align:center;" action="" method="POST">
                    <br>Username
                    <input type="text" name="username" />
                    <br/>
                    <br>Password
                    <input type="password" name="password" />
                    <br/>
                    <br>
                    <div style="text-align:right;font-size:80%;">
                        <a href="/admin/findpassword/1" style="padding-right: 0px;color:lightslategray;">忘记密码</a>
                    </div>
                    <input style="font-size:100%" type="submit" value="      登        录      " />
                    <br/>
                </form>

                <div class="container" style="text-align:center;">
                    <br> {% for message in get_flashed_messages() %}
                    <div class="alert alert-warning">
                        <p style="color:red">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}</p>
                    </div>
                    {% endfor %} {% block page_content %}{% endblock %}
                    <br/>
                </div>
            </td>
        </tr>
    </table>
</body>

</html>