{% extends "admin/layout.html" %}

<head>
    {% block title1 %}{{ super() }}{% endblock %} {% block title %}admin add{% endblock %}
    <meta charset="UTF-8">

</head>

<body>
    {% block body %} {{ super() }}
    <br>
    <div style="height: 60px"></div>
    <strong>
        <p align="center" style="font-size:20px;">欢迎来到zenjoy!!!
            <script>setInterval("timenow.innerHTML=new Date().toLocaleString()+' 星期'+'日一二三四五六'.charAt(new Date().getDay());", 10);
            </script>
            <div id="timenow" align="center" style="font-size:20px;"></div>
        </p>
    </strong>
    <br/>
    <table border="0px" align="center" cellspacing="0" cellpadding="6">
        <td>
            <form action="" method="POST">
                <div style="width:100%;text-align:right;">
                    <br>Username：
                    <input type="text" name="username" />
                    </br>
                    <br>Email：
                    <input type="text" name="email" />
                    </br>
                    <br>Password：
                    <input type="password" name="password" /> </br>
                    <br>NewPassword：
                    <input type="password" name="newpassword" />
                    </br>
                </div>
                <div style="width:100%;text-align:center;">
                    <br>
                    <input type="submit" value="提      交" />
                    </br>
                </div>
            </form>
        </td>
    </table>

    <div class="container" style="width:100%;text-align:center;">
        <br> {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <p style="color:red">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}</p>
        </div>
        {% endfor %} {% block page_content %}{% endblock %}
    </div>
    {% endblock %}

    </html>