<!--
 * @Author: longfengpili
 * @Date: 2019-01-26 15:28:05
 * @LastEditTime: 2019-01-27 11:56:10
 * @coding: 
#!/usr/bin/env python
# -*- coding:utf-8 -*-
 * @github: https://github.com/longfengpili
 -->
 <html>
    <head>
      <title>login</title>
      <meta http-equiv="refresh" content="5;url=check_login?uuid={{uuid}}"> 
    </head>
    <body>
      <div style="text-align:center;">
        <img src="{{ url_for('static',filename='weixin/QRcode/'+weixin+'.png')}}" style="display: inline-block;"/>
    </div>
    <div style="text-align:center;">
      {{note}}
  </div>
    </body>
  </html>