<!--
 * @Author: longfengpili
 * @Date: 2019-01-27 12:09:41
 * @LastEditTime: 2019-01-27 14:50:29
 * @coding: 
#!/usr/bin/env python
# -*- coding:utf-8 -*-
 * @github: https://github.com/longfengpili
 -->
<html>
    <head>
        <title>login</title>
    </head>
    <body>
            {% if friends %}
            <table border="1px" align="center" cellspacing="0" cellpadding="6" width="100" ;>
                <tr>
                    <th>nickname</th>
                    <th>remarkname</th>
                </tr>
        
                {% for friend in friends %}
                <tr>
                    {% if friend.remarkname %}
                        <td align="center">{{friend.nickname}}</td>
                        <td align="center">{{friend.remarkname}}</td>
                    {% endif %}
                </tr>
                {% endfor %}
        
            </table>
            {% endif %}
    </body>
</html>