<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="refresh" content="3;url=admin/login.html"> -->
    <title>index</title>
</head>

<body>
    <br>
    <div style="height: 60px"></div>
    <strong><p align="center" style="font-size:20px;">您已经退出！
            <script>setInterval("timenow.innerHTML=new Date().toLocaleString()+' 星期'+'日一二三四五六'.charAt(new Date().getDay());",1000);
            </script>
            <div id="timenow" align="center" style="font-size:20px;"></div>
    </p></strong>
    <br/>



</body>

</html>